.left{
	background-color: blue;
	width: 40%;
	height: 300px;
  
  margin: 40px 40px 60px 60px;
  border-top: dashed 10px;
  border-left: dashed 10px;
  border-right: dashed 10px;
   border-bottom: dashed 10px;
	float: left;
}
.right{
	background-color: yellow;
	width: 40%;
	height: 300px;
  border: 20px;
  margin: 40px 40px 60px 60px;
  border-top: dashed 10px;
  border-left: dashed 10px;
  border-right: dashed 10px;
  border-bottom: dashed 10px;
  float: right; 
}